<ion-content>
  <h2 class="category-title">Available Categories</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <ion-card (click)="openCategory(category)" class="category-card">
          <img [src]="category.fullImageUrl" alt="Category Image" class="category-img" onerror="this.src='assets/default-image.png'">
          <ion-card-content>
            <h3 class="category-name">{{ category.name['en-US'] || category.name['ar'] || category.name['he'] }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
